NODE_ENV            =

# Port number
PORT                =
HOST                =

# DB
FE_HOST          =
FE_USER          =
FE_PASSWORD      =
FE_PORT          =
FE_CLIENT        =
FE_DATABASE      =
